body {
  background: radial-gradient(circle at center, #0f2a36, #08181e);
  font-family: 'Courier New', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.carte {
  width: 300px;
  height: 430px;
  background: linear-gradient(180deg, #00c8b3, #007f75);
  border-radius: 25px;
  border: solid 4px red;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  color: #000;
}

.carte h1 {
  font-size: 1.4em;
  letter-spacing: 5px;
  margin: 0;
  text-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.icone {
  width: 200px;
  height:200px;
  margin: 40px 0;
  background: url('event.svg') no-repeat center;
  background-size: contain;
  filter: brightness(0);
}

.texte {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

button {
  margin-top: 15px;
  background: #003f3b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #005d55;
}
